<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-icon slot="icon-only" name="arrow-back-circle-outline" routerLink="/inicio"></ion-icon>
  </ion-buttons>
    <ion-title>series chidas chidorris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item >
      <ion-label>Lucifer </ion-label>
      <ion-icon name="bonfire-outline" color="danger"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Manifiesto</ion-label>
      <ion-icon name="airplane-outline" color="success" ></ion-icon>

    </ion-item>
    <ion-item>
      <ion-label>Grey`s Anatomy</ion-label>
      <ion-icon name="bandage-outline" color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Una dosis diaria de sol</ion-label>
      <ion-icon name="heart-outline" color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Grinberg</ion-label>
      <ion-icon name="color-filter-outline" color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Pretty Little Liars</ion-label>
      <ion-icon name="wifi-outline" color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Heartstopper</ion-label>
      <ion-icon name="heart-outline" color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>La casa de papel</ion-label>
      <ion-icon name="wifi-outline" color="success"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>Pow Patrol</ion-label>
      <ion-icon name="wifi-outline" color="success"></ion-icon>
    </ion-item>
    
  </ion-list>
</ion-content>
