<ion-header>
  <ion-toolbar style="background-color: #2B2B2B;" mode="ios">
    <ion-buttons slot="secondary">
      <ion-icon slot="icon-only" name="arrow-back-circle-outline" routerLink="/inicio" style="color: #FFD700;"></ion-icon>
    </ion-buttons>
    <ion-title style="font-family: 'Times New Roman', serif; color: #FFFFFF;">Canciones Icónicas de Adele</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #1E1E2F; color: #FFD700; font-family: 'Arial', sans-serif; padding: 15px;">
  <ol style="padding-left: 15px; line-height: 1.8;">
    <li><strong>Someone Like You</strong> - Álbum: <em>21</em> (2011)</li>
    <li><strong>Rolling in the Deep</strong> - Álbum: <em>21</em> (2011)</li>
    <li><strong>Set Fire to the Rain</strong> - Álbum: <em>21</em> (2011)</li>
    <li><strong>Easy on Me</strong> - Álbum: <em>30</em> (2021)</li>
    <li><strong>When We Were Young</strong> - Álbum: <em>25</em> (2015)</li>
    <li><strong>Hello</strong> - Álbum: <em>25</em> (2015)</li>
    <li><strong>Chasing Pavements</strong> - Álbum: <em>19</em> (2008)</li>
    <li><strong>Skyfall</strong> - Álbum: <em>Skyfall (Soundtrack)</em> (2012)</li>
    <li><strong>All I Ask</strong> - Álbum: <em>25</em> (2015)</li>
    <li><strong>Turning Tables</strong> - Álbum: <em>21</em> (2011)</li>
    <li><strong>One and Only</strong> - Álbum: <em>21</em> (2011)</li>
    <li><strong>Hometown Glory</strong> - Álbum: <em>19</em> (2008)</li>
    <li><strong>Send My Love (To Your New Lover)</strong> - Álbum: <em>25</em> (2015)</li>
    <li><strong>Water Under the Bridge</strong> - Álbum: <em>25</em> (2015)</li>
    <li><strong>Love in the Dark</strong> - Álbum: <em>25</em> (2015)</li>
  </ol>
</ion-content>
