<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INICIO DE SESION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-col>
  <div class="ion-text-center">

    <ion-col>
      <div class="ion-text-center2">
        <form #formulariologin="ngForm"(ngSubmit)="login(formulariologin)"> 
        <ion-item>
          <ion-input  name = "email"  [(ngModel)]= "email" labelPlacement="floating" placeholder="example@email.com" type="email"  required ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name = "password" [(ngModel)]= "password" labelPlacement="floating" type="password"></ion-input>
        </ion-item>
        <ion-button type="submit" color="warning"  >
          INGRESAR
        </ion-button>
        <ion-chip>

          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"  fill="clear"/>
          </ion-avatar>
          <ion-label  color="warning" fill="clear">Registrate en esta pagina chida</ion-label>
        </ion-chip>
      </form>
      </div>
    </ion-col>
    
</div>
</ion-col>

</ion-content>
 