<ion-header [translucent]="true">
  <ion-toolbar mode="ios" >
    <ion-buttons slot="secondary">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline" routerLink="/inicio"></ion-icon>
    </ion-buttons>
    <ion-title>Canciones  de verdad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #121212; color: #FFFFFF; padding: 20px;">
  <ul style="list-style-type: square; padding-left: 20px;">
    <li><b>José José</b> – "El Triste", "Amar y Querer", "Lo Pasado, Pasado".</li>
    <li><b>Juan Gabriel</b> – "Abrázame Muy Fuerte", "Querida", "Te Lo Pido por Favor".</li>
    <li><b>Rocío Dúrcal</b> – "Costumbres", "Amor Eterno", "La Gata Bajo la Lluvia".</li>
    <li><b>Vicente Fernández</b> – "Por Tu Maldito Amor", "Estos Celos", "Acá Entre Nos".</li>
    <li><b>Camilo Sesto</b> – "Vivir Así Es Morir de Amor", "Perdóname".</li>
    <li><b>Amanda Miguel</b> – "Él Me Mintió".</li>
    <li><b>Paquita la del Barrio</b> – "Rata de Dos Patas".</li>
    <li><b>Lupita D’Alessio</b> – "Mudanzas".</li>
    <li><b>Marco Antonio Solís</b> – "Si No Te Hubieras Ido".</li>
    <li><b>Los Ángeles Negros</b> – "Cómo Quisiera Decirte".</li>
  </ul>
</ion-content>
