<ion-header>
  <ion-toolbar style="background: linear-gradient(to right, #6A0572, #1F1C73);">
    <ion-buttons slot="secondary">
      <ion-icon slot="icon-only" name="arrow-back-circle-outline" routerLink="/inicio"></ion-icon>
  </ion-buttons>
    <ion-title style="font-family: 'Poppins', sans-serif; color: #FFFFFF; font-size: 1.8rem;">
      Mejores Cantantes de Todos los Tiempos
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content style="background-color: #F8F9FA; padding: 20px;">
  <ol style="padding: 0 20px; font-family: 'Roboto', sans-serif; font-size: 1.2rem; color: #333;">
    <li><b>Adele</b> – La reina de la balada contemporánea.</li>
    <li><b>Celine Dion</b> – Una voz celestial que trasciende generaciones.</li>
    <li><b>Bruno Mars</b> – El maestro del funk y el pop moderno.</li>
    <li><b>Taylor Swift</b> – Narradora y visionaria del pop y country.</li>
    <li><b>Sia</b> – Una artista única con letras profundas y emotivas.</li>
    <li><b>Dua Lipa</b> – Revolucionaria del dance pop actual.</li>
    <li><b>Coldplay</b> – Con melodías que llegan directo al alma.</li>
    <li><b>Michael Jackson</b> – El rey del pop, ícono eterno.</li>
    <li><b>Andrea Bocelli</b> – Voz de ópera que conecta corazones.</li>
    <li><b>Sarah Brightman</b> – Una soprano con un estilo mágico e inolvidable.</li>
  </ol>
</ion-content>

