<ion-header [translucent]="true">
  <ion-toolbar mode="ios" >
    <ion-buttons slot="secondary">
        <ion-icon slot="icon-only" name="arrow-back-circle-outline" routerLink="/inicio"></ion-icon>
    </ion-buttons>
    <ion-title>Materias de quinto cuatrimestre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item color="primary">
      <ion-icon name="wifi-outline" aria-hidden="true"></ion-icon>
      <ion-label>Aplicaciones web</ion-label>
      <ion-badge color="warning">9.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="medical-outline" aria-hidden="true"></ion-icon>
      <ion-label>Desarrollo movil multiplataforma</ion-label>
      <ion-badge color="secondary">8.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="planet-outline" aria-hidden="true"></ion-icon>
      <ion-label>Base de datos</ion-label>
      <ion-badge color="warning">9.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="moon-outline" aria-hidden="true"></ion-icon>
      <ion-label>Industria 4.0</ion-label>
      <ion-badge color="warning">9.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="sunny-outline" aria-hidden="true"></ion-icon>
      <ion-label>Aplicaciones de IoT</ion-label>
      <ion-badge color="secondary">8.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="send-outline" aria-hidden="true"></ion-icon>
      <ion-label>Integradora II</ion-label>
      <ion-badge color="secondary">7.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
      <ion-label>Expresion oral y escrita</ion-label>
      <ion-badge color="success">10.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-apple" aria-hidden="true"></ion-icon>
      <ion-label>Turoria</ion-label>
      <ion-badge color="secondary">9.0</ion-badge>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-electron" aria-hidden="true"></ion-icon>
      <ion-label>Ingles</ion-label>
      <ion-badge color="secondary">9.0</ion-badge>
    </ion-item>
    
  </ion-list>
</ion-content>
