<ion-header>
  <ion-toolbar>
    
    <ion-title>
      Componente de inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Holii, pagina de Adri </h1>

  <ion-item routerLink="/materias">
    <ion-label>Materias jeje</ion-label>
  </ion-item>

  <ion-item routerLink="/series">
    <ion-label>Series que me gustan, te gustan o deberían de gustar :" </ion-label>
  </ion-item>

  <ion-item routerLink="/pelis">
    <ion-label>Pelis chidas chidorris de terror</ion-label>
  </ion-item>

  <ion-item routerLink="/adele">
    <ion-label>Adele mi religión</ion-label>
  </ion-item>
  
  <ion-item routerLink="/artistas">
    <ion-label>Verdaderos cantantes y no ...</ion-label>
  </ion-item>

  <ion-item routerLink="/billie">
    <ion-label>Momentos icónicos de Billie</ion-label>
  </ion-item>

  <ion-item routerLink="/cry">
    <ion-label>Estas son pa llorar</ion-label>
  </ion-item>

  <ion-item routerLink="/dosis">
    <ion-label>Una dosis diaria de sol/frases</ion-label>
  </ion-item>

  <ion-item routerLink="/paises">
    <ion-label>Lugares bonitos que quiero visitar antes de morir</ion-label>
  </ion-item>

  <ion-item routerLink="/reason">
    <ion-label>Es que me sigue gustando, aquí razones principales de</ion-label>
  </ion-item>

  <ion-item routerLink="/tiktok">
    <ion-label>Tiki toki jajaja</ion-label>
  </ion-item>

  <ion-item routerLink="/yutu">
    <ion-label>Que no se pierda la costumbre</ion-label>
  </ion-item>

</ion-content>
